body {
    background: #0d1117;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

/* Container */
.container {
    margin-top: 60px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* Card */
.card-box {
    background: #161b22;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(88,166,255,0.2);
}

/* Titles */
h2 {
    color: #58a6ff;
}

/* Progress */
.progress {
    height: 20px;
    border-radius: 10px;
}

/* Button */
.btn-custom {
    background: #238636;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}

.btn-custom:hover {
    background: #2ea043;
}

/* Loader */
.loader {
    margin: 20px auto;
    border: 5px solid #30363d;
    border-top: 5px solid #58a6ff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.d-none {
    display: none;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}