body {
    background: #0d1117;
    font-family: 'Segoe UI', sans-serif;
}

/* Card */
.register-card {
    width: 700px;
    padding: 30px;
    border-radius: 15px;
    background: #161b22;
    color: white;
    box-shadow: 0 0 25px rgba(88,166,255,0.2);
}

/* Title */
.register-card h2 {
    color: #58a6ff;
}

/* Inputs */
.form-control {
    background: #fcfdfd;
    border: 1px solid #30363d;
    color: white;
}

.form-control:focus {
    border: 1px solid #58a6ff;
    box-shadow: 0 0 8px #58a6ff;
    background: #0d1117;
    color: white;
}

/* OTP box */
.otp-box {
    display: flex;
}

.otp-box input {
    flex: 1;
    border-radius: 10px 0 0 10px;
}

.otp-btn {
    background: #238636;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 0 10px 10px 0;
}

/* Password */
.password-box {
    position: relative;
}

.password-box input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border-radius: 10px;
    border: 1px solid #30363d;
    background: #ffffff;
    color: rgb(0, 0, 0);
}

.password-box span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Button */
.btn-register {
    background: #238636;
    color: white;
    border-radius: 10px;
}

.btn-register:hover {
    background: #2ea043;
}

/* Links */
.link {
    color: #58a6ff;
}