{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

<div class="login-container">

    <div class="login-card">

        <h3 class="text-center mb-3">Reset Password</h3>

        <form method="POST">
            {% csrf_token %}

            <input type="email" name="email" class="form-control mb-3" placeholder="Enter Email" required>

            <button class="btn btn-login w-100">Send OTP</button>

        </form>

    </div>

</div>

</body>
</html>